@import "reset";
@import "navigation";

html {
  font-size: 16px;
}

body {
  background-color: #F9FFFF;
  color: #241319;
  font-family: Helvetica;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

