---
---

<section class="section intro">
  <div class="intro__screenshot">
    <%= image_tag "icon.png" %>
  </div>

  <div class="intro__headline">
    <h1>Beer Idea</h1>
    <h2>Coming soon to a device near you…</h2>
  </div>
</section>

